List of Jira issues


{% for issue in jira_issues.meta.issues | json_query('[*]') %}
Issue Number: {{ issue.key }}
Summary: {{ issue.fields.summary }}

{% endfor %}

Total count of issues: {{ jira_issues.meta.total }}
